body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

.upload-container {
  padding: 20px;
}

.canvas-container {
  width: 100%;
  height: 80vh;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}